<h1>welcome to your pickd community</h1>
<p>we're a community of sugargliders, tied to our tides, and we want to track how we're doing..</p>

<!-- sign-in form here 
<p><%= render '/signin', readings_path %></p> ??  -->

<p>new to the club?  join in!</p>
<p><%= link_to '/signup', sessions_path %>