<h1>input your stats</h1>
<p>pop in your most recent stats, then attach some thoughts.</p>

<%# insert form_for here %>
<%# form_for(@reading) do |f| %>
		<%# f.label :exercise %>
    <%# f.text_field :exercise_level %>
 		<%# f.label :carbs %>
    <%# f.text_field :carbs %>
		<%# f.label :stress %>
    <%# f.text_field :stress %>
 	 	<%# f.label :bloodsugar %>
    <%# f.text_field :bloodsugar %>
 		<%# f.submit %>
<%# end %>

<%= link_to 'post', reading_path(Reading.first) %>
