<h1>welcome to your pickd community</h1>
<p>we're a community of sugargliders, tied to our tides, and we want to track how we're doing..</p>

<h2>Sign in</h2>

<%= render :partial => 'sign_in' %>

<h3>not signed up as a user?  want to join in?</h3>
<%= link_to "join the club", new_user_registration_path %>

<%= render "devise/shared/links" %>

