<!DOCTYPE html>
<html>
<head>
  <title>Sugargliders</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header></header>
	<nav>
		<ul>
			<li><a href #>wall</a></li>
			<li><a href #>posts</a></li>
			<li><a href #>teams</a></li>
			<li><a href #>profile</a></li>
		</ul>
	</nav>
	<section></section>
	<section></section>
	<section></section>
	<section></section>

<%= yield %>

</body>
</html>
